%default-border {
    border: 1px solid $secondary-color;
}

%rounded {
    border-radius: 10px;
}

%center-align {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 25px;
}