$primary-background: #181818;
$secondary-background: #262626;
$section-background: #333333;
$primary-color: #ff7675;
$secondary-color: #8f0000;
$success-color: #2ecc71;

$border: 1px solid $secondary-color;

$mq-min-height: "screen and (min-height: 700px)"
