.download-status {
    @extend %default-border;
    width: 250px;
    height: 150px;
    margin-bottom: 100px;
    margin-top: 5px;
    background: $primary-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &__wrapper p {
        @extend %center-align;
    }
}

.progress {
    width: 90%;
}

.progress-title {
    font-size: 25px;
}
