/* Jumbotron */

.jumbotron {
    @extend %flex-center;
    flex-direction: column;

    &__header {
        color: $secondary-color;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 10px;
    }

    &__body {
        text-align: center;
        font-size: 1.25rem;
    }

    &__img {
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }

    .repository {
        user-select: all;
        cursor: pointer;

        &::selection {
            color: white;
            background: $primary-color;
        }
    }
}
