.download-area {
    width: 100%;
    display: none;
    flex-flow: column;
    align-items: center;

    @media #{$mq-min-height} {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid $secondary-background;
    }
}

.video-type {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;

    @media #{$mq-min-height} {
        margin-bottom: 0;
    }
}

.video-type label,
.download p {
    font-size: 20px;
}

.video-type label::after,
.download p::after {
    content: ":";
}

.video-type select,
.video-type label {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.video-type select {
    @extend %default-border;
    color: white;
    background: $secondary-background;
    padding: 10px 50px;
    appearance: none;
    text-align-last: center;
}

.download {
    display: flex;
    margin-top: 50px;
}

.download p {
    margin-top: 10px;
}

.download button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background: $primary-color;
    transition: 0.25s;
}

.download button i {
    font-size: 30px;
    transition: 0.25s;
}

.download button:hover i {
    font-size: 20px;
}

.download button:active {
    background: #2ecc71;
    transform: scale(0.9);
}
