/* Lateral Menu */

.lateral {
    position: fixed;
    top: 50px;
    left: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background: $secondary-background;

    &__header {
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        line-height: 100px;
        width: 100%;
        border-right: $border;
        border-bottom: $border;
        background: $primary-background;
    }

    &__area {
        width: 100%;

        label {
            @extend %center-align;
            cursor: pointer;
        }
    }

    &__group {
        width: 100%;
        text-align: center;
        margin-top: 8px;

        input,
        button {
            @extend %default-border;
            padding: 10px;
            text-align: center;
            color: white;
            background: $primary-background;
        }
    }

}

@import "components/download-status";
