/* Principal Area */

.downloading__wrapper {
    display: none;

    @media #{$mq-min-height} {
        flex-direction: column;
        min-width: 400px;
        max-width: 600px;
        width: auto;
    }
}

#close-menus {
    @extend %default-border;
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
        background: $primary-color;
        border: 0;
    }

}

.principal-area {
    @extend %flex-center;
    position: absolute;
    top: 50px;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100% - 50px);
    border-top: $border;
    background: $section-background;
    padding: 20px;
    overflow: hidden;
}

@import "components/jumbotron";

@import "components/info";

@import "components/download-area";
