.lateral__group input,
.lateral__group button, .download-status, #close-menus, .info img, .download-area select {
  border: 1px solid #8f0000;
}

.principal-area, .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lateral__area label, .download-status__wrapper p {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

/* Global Configure */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  user-select: none;
  color: #ff7675;
}

button,
select {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
  0% {
    font-size: 30px;
  }
  50% {
    font-size: 35px;
  }
  100% {
    font-size: 25px;
  }
}

.error {
  font-size: 30px;
  text-align: center;
  color: #ff7675;
}

.success {
  font-size: 25px;
  color: #2ecc71;
}

.cancel {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  padding: 5px;
  background: transparent;
  color: white;
}

.size-of-download {
  margin-top: 10px;
}

.size-of-download span {
  font-size: 18px;
  color: #2ecc71;
}

.cancel-download {
  font-size: 20px;
}

/* Control Area */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #181818;
}

.header__buttons {
  flex-grow: 0;
}

.header__button {
  background: transparent;
  color: white;
  padding: 20px;
  z-index: 9999;
  transition: 0.25s;
}

.header__button:hover {
  background: rgba(0, 0, 0, 0.9);
}

.header [data-control="close"]:hover {
  background: rgba(255, 0, 0, 0.9);
}

.header .draggable {
  flex-grow: 1;
  -webkit-app-region: drag;
}

.header img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}

/* Lateral Menu */
.lateral {
  position: fixed;
  top: 50px;
  left: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background: #262626;
}

.lateral__header {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 100px;
  width: 100%;
  border-right: 1px solid #8f0000;
  border-bottom: 1px solid #8f0000;
  background: #181818;
}

.lateral__area {
  width: 100%;
}

.lateral__area label {
  cursor: pointer;
}

.lateral__group {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

.lateral__group input,
.lateral__group button {
  padding: 10px;
  text-align: center;
  color: white;
  background: #181818;
}

.download-status {
  width: 250px;
  height: 150px;
  margin-bottom: 100px;
  margin-top: 5px;
  background: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress {
  width: 90%;
}

.progress-title {
  font-size: 10px;
}

.loading {
  width: 80px;
  height: 80px;
  background: transparent;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-left: 5px solid white;
  display: none;
  border-radius: 50%;
  animation: 1.2s linear infinite spin;
}

/* Principal Area */
.downloading__wrapper {
  display: none;
}

@media screen and (min-height: 700px) {
  .downloading__wrapper {
    flex-direction: column;
    min-width: 400px;
    max-width: 600px;
    width: auto;
  }
}

#close-menus {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent;
  color: white;
  padding: 10px;
  border-radius: 50%;
  transition: 0.2s;
}

#close-menus:hover {
  background: #ff7675;
  border: 0;
}

.principal-area {
  position: absolute;
  top: 50px;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  border-top: 1px solid #8f0000;
  background: #333333;
  padding: 20px;
  overflow: hidden;
}

/* Jumbotron */
.jumbotron {
  flex-direction: column;
}

.jumbotron__header {
  color: #8f0000;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.jumbotron__body {
  text-align: center;
  font-size: 1.25rem;
}

.jumbotron__img {
  margin-top: 50px;
  width: 150px;
  height: 150px;
}

.jumbotron .repository {
  user-select: all;
  cursor: pointer;
}

.jumbotron .repository::selection {
  color: white;
  background: #ff7675;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-right: 1px solid #262626;
}

.info figure {
  padding: 0 10px;
  max-width: 400px;
  height: 200px;
}

.info img {
  width: 100%;
  height: 100%;
}

.info__group {
  display: inline-block;
  text-align: center;
  width: 80%;
  word-wrap: none;
  margin: 15px 0 0 5px;
}

.info__group p,
.info__group output {
  display: inline;
}

.info__group p {
  color: #8f0000;
  text-indent: 50px;
  font-size: 20px;
}

.info__group p::after {
  content: ":";
}

@media screen and (min-height: 700px) {
  .info__group p {
    font-size: 25px;
  }
}

.info__group output {
  font-size: 16px;
  font-weight: bold;
  word-wrap: break-word;
}

@media screen and (min-height: 700px) {
  .info__group output {
    font-size: 20px;
  }
}

@media screen and (min-height: 700px) {
  .info {
    border-right: none;
  }
}

.download-area {
  width: 100%;
}

@media screen and (min-height: 700px) {
  .download-area {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #262626;
  }
}

.download-area select {
  color: white;
  padding: 10px 50px;
  appearance: none;
  margin-bottom: 20px;
  text-align-last: center;
  width: 80%;
  max-width: 140px;
  background: url("../../img/drop-down-arrow.png") no-repeat #262626;
  background-size: 15px;
  background-position: 110px 7px;
}

@media screen and (min-height: 700px) {
  .download-area select {
    position: absolute;
    right: 10px;
  }
}

.download-area label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.download-area label::after {
  content: ":";
}

@media screen and (min-height: 700px) {
  .download-area label {
    line-height: 40px;
    display: inline-block;
    margin-bottom: 0;
  }
}

.download-area select,
.download-area label {
  text-align: center;
}

.video-option {
  position: relative;
  height: 40px;
  width: 100%;
  margin: 10px;
  text-align: center;
}

.video-option:nth-child(1) {
  margin-bottom: 80px;
}

@media screen and (min-height: 700px) {
  .video-option {
    text-align: left;
  }
  .video-option:nth-child(1) {
    margin-bottom: 10px;
  }
}

.download {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}

.download p {
  font-size: 20px;
  margin-top: 10px;
}

.download p::after {
  content: ":";
}

.download button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  background: #ff7675;
  transition: 0.25s;
}

.download button i {
  font-size: 30px;
  transition: 0.25s;
}

.download button:hover i {
  font-size: 20px;
}

.download button:active {
  background: #2ecc71;
  transform: scale(0.9);
}

@media screen and (min-height: 700px) {
  .download {
    margin-top: 30px;
  }
}
